<div class="container-fluid">
  <div class="col-xs-12 header">
    <div class="menu col-xs-12 col-md-6">
        <a class="col-xs-3" routerLink="/Home" routerLinkActive="active">Home</a>
        <a class="col-xs-3" routerLink="/Gallery" routerLinkActive="active">Gallery</a>
        <a class="col-xs-3" routerLink="/Posts" routerLinkActive="active">Posts</a>
        <a class="col-xs-3" routerLink="/Contact" routerLinkActive="active">Contact</a>
    
    </div>
  </div>
  <div class="col-xs-12 main">
    <router-outlet></router-outlet>
  </div>
  
  <div class="col-xs-12 footer">Footer</div>
</div>

