/* You can add global styles to this file, and also import other style files */
.row{
    border:1px solid black;
}
.header{
    height:80px;
    position:fixed;
    top:0;
    background-color: lightgreen;
    z-index: 2;
}
.footer{
    height:80px;
    position: fixed;
    bottom:0;
    background-color: lightblue
}

.main{
    margin-top:80px;
    margin-bottom:80px;
    height:100%;
    background-color: lightgoldenrodyellow
}

